.homePage {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: black;

  h1 {
    margin-top: 30px;
    font-size: 1.5rem;
  }
  .searchbar {
    margin-top: 20px;
    max-width: 450px;
    min-width: 200px;
    height: fit-content;
    padding: 22px;
    background-color: #141414;
    border-radius: 22px;
    display: flex;
    position: relative;
    padding-top: 42px;

    .inputs {
      height: 100%;
      display: flex;
      flex-direction: column;
      input {
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        color: #f5f5f5;
        height: 40px;
        margin-bottom: 12px;
      }
      textarea {
        background-color: transparent;
        color: #f5f5f5;
        border: none;

        height: 40px;
        max-width: 300px;

        padding: 12px;
      }
    }
    button {
      position: absolute;
      right: 30px;
      top: 16px;
      background-color: transparent;
      border: none;
      .searchIcon {
        color: white;
        transition: color 0.1s ease-in-out;
        &:hover {
          color: grey;
        }
      }
    }
  }
  .comments {
    width: 80%;
    height: 100%;

    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    overflow: hidden;
    overflow-y: auto;
    .comment,
    .expandedComment {
      background-color: black;
      width: 300px;
      min-width: 150px;
      max-width: 375px;
      height: 65px;
      margin: 10px;
      border-radius: 12px;
      background-color: #0a0a0a;
      padding: 10px;
      position: relative;
      transition: height ease-in 0.2s;
      .profile {
        display: flex;
        align-items: center;
        p {
          margin-left: 12px;
        }
      }
      .commentCtn {
        padding: 12px;
        img {
          width: 200px;
          height: 150px;
          border-radius: 12px;
          object-fit: cover;
          margin-top: 12px;
        }
      }
      .icondown {
        position: absolute;
        right: 20px;
        bottom: 10px;
        transition: transform ease 0.1s;
        &:hover {
          transform: scale(1.2);
        }
      }
      p {
        color: white;
        font-size: 12px;
      }
    }
  }
}
